doctype html
html(lang='pt-br')
  head
    //Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    title Front Ender - The Front End Development Kit
    
    link(href='assets/css/main.css', rel='stylesheet')
    script(src='assets/js/jquery.min.js')
  body
    header
      .container
        h1 HELLO, FRONT ENDER!
        p This <b>"kit"</b> is created by me: Edgar Valfogo Santos. Use it to become rich someday and give me some haha!
        br
        h4 What we will be using
        p
          = 'Develop and drop your stuff on "./dev" folder. We will be using:'
          ul
            li TypeScript for a professional JavaScript development;
            li Jade for a faster HTML development;
            li Sass for a faster CSS development;
            li Bootstrap (SASS) for a good cross-device development;
            li Jquery to complement Bootstrap;
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
